<h2 class="page-header"><%= author.name %> </h2>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include("../partials/deleteForm", 
            { url: `/authors/${author.id}` }) %> 
<br>
<!-- loop through all books -->
<h2 class="page-header">Books By Author</h2>
<% if(booksByAuthor.length > 0) { %> 
    <% booksByAuthor.forEach(book => { %>
        <a href="/books/<%= book.id %>">
            <img height="150" width="100" src="<%= book.coverImagePath %> ">
        </a>
    <% }) %> 
<% } else { %> 
    <p>No published book from this Author</p>
<% } %> 